@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  .app {
    min-height: 100vh;
    background-image: linear-gradient(
      to bottom,
      rgba(78, 76, 163, 0.5),
      rgba(36, 13, 80, 0.75)
    );
    display: flex;
    justify-content: center;
    align-items: center;
    main {
      min-height: 37.5rem;
      min-width: 21.875rem;
      background-image: url("./assets/bg.jpg");
      background-size: cover;
      background-position: center;

      border-radius: 1rem;

      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
      .wrapper {
        min-height: 37.5rem;
        padding: 2rem;
        padding-top: 0;
        border-radius: 1rem;
        background-image: linear-gradient(
          to bottom,
          rgba(59, 59, 59, 0),
          rgba(0, 0, 0, 0.7)
        );
        .dateTime {
          text-align: center;
          font-size: 0.9rem;
          color: #dfdfdf;
          font-weight: 300;
          margin-bottom: 4rem;
          text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.5);
        }
      }
    }
  }
}
